body,
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    color: black;
}

a:hover {
    text-decoration: none;
}

ul li a {
    color: black;
}

a {
    color: black;
}

p {
    line-height: 1.4;
    color: black;
    font-size: 1.1em;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 51px;
    color: #db6237;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 15px;
}

h2 {
    font-size: 40px;
    color: #db6237;
    font-weight: 700;
    line-height: 1;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
}


/*back to top*/

#back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0;
    z-index: 99999999;
    width: 50px;
    margin-right: 10px;
    height: 48px;
    animation: rotate 10.5s;
    text-align: center;
    line-height: 50px;
    background: #252522;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    text-decoration: none;
    transition: all 0.5s linear;
    opacity: 0;
}

.show {
    display: block !important;
}

#back-to-top.show {
    opacity: 1;
    right: 0;
}


/*back to top*/


/*HEADER*/
.navbar-light {
    background: #fff;
}

a.navbar-brand {
    position: relative;
    z-index: 99;
}

div#navbarMobile {
    justify-content: flex-end;
}

ul#menu-header-menu li {
    padding: 10px 0px;
}

.navbar_content a {
    color: Black;
    margin: 0px 22px;
    font-size: 20px;
    text-transform: capitalize;
    display: inline-block;
    padding-bottom: 21px;
}

ul#menu-header-menu>li.current-menu-item>a {
    color: #db6237;
}

header .menu-item a:hover {
    color: #db6237;
}

.navbar_content>ul>li:last-child a {
    background-color: #db6237;
    color: white !important;
    padding: 5px 15px;
    border-radius: 3px;
}

ul#menu-header-menu li:hover>ul.sub-menu {
    display: block;
}

ul.sub-menu {
    list-style: none;
    padding: 0px;
    position: absolute;
    display: none;
    background: #db6237;
    width: 242px;
    border-radius: 6px;
    box-shadow: 0px 29px 38px -50px #5f5f5f;
    transform: translateX(-31%);
}

ul.sub-menu:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #db6237;
    top: -9px;
    left: 47%;
    position: absolute;
}

ul#menu-header-menu .sub-menu li {
    border-bottom: 1px solid #f9885f;
}

ul#menu-header-menu .sub-menu li:last-child {
    border: none;
}

.navbar_content .sub-menu a {
    padding-bottom: 0;
    display: block;
    color: #fff;
    font-size: 16px;
}

header .sub-menu .menu-item a:hover {
    color: #fff;
}





/*HEADER*/


/*FOOTER*/

footer {
    background-color: #2e2e2e;
    padding: 5% 0% 0px 0px;
}



/*FOOTER*/


/*  HOMEPAGE  */


/*  HOMEPAGE  */


/*  RESPONSIVENESS  */

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 991px) {
    .navbar-light .navbar-brand {
        color: rgba(0, 0, 0, 0.9);
        transform: scale(0.5) translateY(-99px);
        margin-left: 0;
        max-width: 141px;
        margin-top: 0;
        padding-left: 0;
    }

    .navbar-light {
        background: #fff;
        height: 75px;
        transition: all 0.6s;
        padding: 10px 0;
    }

    .navbar-light .navbar-toggler {
        margin-top: -94px;
        margin-right: 15px;
    }

    a.navbar-brand img {
        border: 7px solid #fff;
    }

    div#navbarMobile {
        justify-content: flex-end;
        margin-bottom: auto;
        margin-top: -89px;
        background: rgba(0, 0, 0, 0.9);
    }

    ul#menu-header-menu li {
        padding: 0px;
        border-bottom: 1px solid rgba(112, 112, 112, 0.5);
    }

    .navbar_content a {
        margin: 0px 13px;
        font-size: 17px;
        display: block;
        padding: 12px;
        text-align: center;
        color: #fff;
    }

    ul.sub-menu {
        list-style: none;
        padding: 0px;
        position: relative;
        display: block;
        background: no-repeat;
        width: 90%;
        margin-left: 5%;
        border-radius: 6px;
        box-shadow: 0px 29px 38px -50px #5f5f5f;
        transform: translateX(0);
        border: 1px solid #505050;
    }

    ul.sub-menu:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 9px solid #4c4c4c;
        top: -9px;
        left: 50%;
        position: absolute;
    }

}


@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 480px) {}


/*  RESPONSIVENESS  */